.modals
    .modals-ipr__count.modal-el
        p.text Нельзя выделить 4-й тег, так как общее число индикаторов не должно быть больше 3-х. Сначала снимите выделение с неиспользуемого тега, а потом уже выделите нужный
        .modals-ipr__close
            img.modals-ipr__close-img#modal-close(
                src="assets/images/png/12.png"
            )